/* 객실 조회 시작 */
#room-search {
	position: fixed;
	bottom: 0;
	z-index: 999;
	justify-content: center;
	width: 100%;
	height: 80px;
	background-color: white;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}
#room-search-wrap {
	position: relative;
	width: 1416px;
	height: 100%;
	padding: 0 20px;
	justify-content: center;
	box-sizing: border-box;
}
#room-search-wrap form {
	font-size: 16px;
	gap: 20px;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.room-search-form {
	display: flex;
	gap: 16px;
	align-items: center;
}
.room-search-form input {
	border: none;
	outline: none;
	font-size: inherit;
}
.room-search-form.count input {
	width: 10px;
}
.room-search-form div {
	pointer-events: none;
}
.room-search-form::after {
	content: '';
	width: 1.4px;
	height: 16px;
	margin-left: 4px;
	background-color: #ccc;
}
.room-search-form:first-child {
	label,
	input {
		cursor: pointer;
	}
}
.room-search-form:first-child::after {
	margin-left: 0;
}
#datepicker {
	font: inherit;
	width: 276px;
}
.room-search-form label {
	display: flex;
	align-items: center;
	gap: 8px;
}
.room-search-form:first-child label::before {
	content: '';
	background: url(/andaz/images/calendar.svg) center / contain no-repeat;
	width: 24px;
	height: 24px;
}
.room-search-form button {
	background: center / contain no-repeat;
	width: 12px;
	height: 12px;
}
.room-search-form .minus {
	background-image: url(/andaz/images/minus.svg);
}
.room-search-form .plus {
	background-image: url(/andaz/images/plus.svg);
}
#choice-discount {
	position: relative;
	width: 180px;
	height: 40px;
}
#choice-btn,
#choice-list,
#discount-code {
	width: 100%;
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	line-height: 40px;
}
#choice-btn,
#choice-list button,
#discount-code {
	padding: 0 20px;
	box-sizing: border-box;
}
#choice-btn {
	height: 100%;
	align-items: center;
	justify-content: space-between;
	color: rgba(0, 0, 0, 0.7);
	background-color: white;
	z-index: 2;
}
#choice-btn::after {
	content: '';
	background: url(/andaz/images/arrow-down.svg) center / contain no-repeat;
	width: 12px;
	height: 8px;
	transition: transform 0.4s ease-out;
}
#choice-btn.active::after {
	transform: scaleY(-1);
}
#choice-list {
	display: none;
	bottom: 44px;
	background-color: white;
	overflow: hidden;
}
#choice-list li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#choice-list li:last-child {
	border-bottom: 0;
}
#choice-list button {
	width: 100%;
}
#discount-code {
	height: 100%;
	font: inherit;
	outline: 0;
	z-index: 1;
	clip-path: inset(0 35px 0 0);
}
#discount-code::placeholder {
	opacity: 0.7;
}
#search-btn {
	font-size: 20px;
	gap: 12px;
	align-items: center;
}
#search-btn::after {
	content: '';
	width: 40px;
	height: 40px;
	background: black url(/andaz/images/search.svg) center / 20px no-repeat;
	border-radius: 50%;
}
#search-hide-show {
	position: absolute;
	height: 40px;
	top: -40px;
	right: 100px;
	background-color: white;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 28px;
	box-sizing: border-box;
	border-radius: 20px 20px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 0;
	align-items: center;
	gap: 8px;
}
#search-hide-show::after {
	content: '';
	background: url(/andaz/images/arrow-down.svg) center / contain no-repeat;
	width: 12px;
	height: 8px;
	transition: transform 0.4s ease-out;
}
#search-hide-show.hide::after {
	transform: scaleY(-1);
}
/* 객실 조회 끝 */

/* 비주얼 시작 */
#visual {
	position: relative;
	margin-top: 80px;
	height: calc(100vh - 80px);
	overflow: hidden;
}
#visual-list {
	height: 100%;
}
#visual-list li {
	flex-basis: calc(100% - 80px);
	flex-shrink: 0;
	background: top / cover no-repeat;
	filter: brightness(0.5);
	transition: filter 0.4s ease-out;
}
#visual-list li:first-child {
	filter: brightness(1);
}
#visual-list #visual-img0 {
	background-image: url(/andaz/images/visual-img-00.webp);
}
#visual-list #visual-img1 {
	background-image: url(/andaz/images/visual-img-01.webp);
}
#visual-list #visual-img2 {
	background-image: url(/andaz/images/visual-img-02.webp);
}
#visual-list #visual-img3 {
	background-image: url(/andaz/images/visual-img-03.webp);
}
#visual > button {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	right: 80px;
	transform: translate(50%, -50%);
	background-color: white;
	border-radius: 50%;
}
#visual > button::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	mask: url(/andaz/images/next.svg) center / 60% no-repeat;
}
#dot-list {
	position: absolute;
	top: 20px;
	right: 100px;
	gap: 100px;
}
#dot-list::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-100%);
	width: 100%;
	height: 1px;
	background-color: white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
#dot-list button {
	position: relative;
	z-index: 3;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	transition: background-color 0.4s ease-out;
}
#dot-list button.active {
	background-color: #ffe206;
}
/* 비주얼 끝 * /

/* 콘텐츠 시작 */
#contents {
	width: 100%;
	align-items: center;
	padding: 60px 0;
	gap: 100px;
	color: white;
}
#contents > section {
	width: 1416px;
	gap: 28px;
	padding: 0 20px;
	box-sizing: border-box;
}
.link {
	gap: 8px;
	align-items: center;
	font: 200 14px Pretendard;
	color: white;
	z-index: 7;
}
.link::after {
	content: '';
	width: 12px;
	height: 12px;
	background: url(/andaz/images/link.svg) center / contain no-repeat;
}

/* 인트로 시작 */
#contents #intro {
	gap: 40px;
	height: 480px;
}
#intro-img {
	width: 44%;
	background: url(/andaz/images/intro_img.jpg) center / cover no-repeat;
}
#intro-text-wrap {
	width: 60%;
	justify-content: space-between;
}
#intro-subtitle {
	font: 300 24px / 1.6em Pretendard;
}
#intro-logo {
	width: 100%;
	height: 200px;
	background-color: white;
	mask: url(/andaz/images/logo.svg) center / contain no-repeat;
}
#intro-text {
	font: 200 16px / 1.6em Pretendard;
	text-align: right;
}
/* 인트로 끝 */

/* 특별 주문 시작 */
#offer-list {
	justify-content: space-between;
	color: black;
}
#offer-list > li {
	width: 45%;
	position: relative;
}
.offer-img {
	height: 400px;
	background: center / cover no-repeat;
	position: relative;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.offer-img::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background: #252525;
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
#winter-package .offer-img {
	background-image: url(/andaz/images/winter-package.jpg);
}
#suite-package .offer-img {
	background-image: url(/andaz/images/suite-package.jpg);
	left: -40px;
}
.offer-box {
	width: 100%;
	height: 460px;
	gap: 40px;
	position: relative;
	margin-top: -40px;
	padding: 40px 60px;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
#winter-package .offer-box {
	margin-left: 40px;
}
.offer-box > div {
	gap: 20px;
}
.offer-box > div > ul,
.offer-box > div > ul > li {
	gap: 20px;
}
.offer-box h3 {
	font-size: 24px;
}
.offer-box h4 {
	font-size: 16px;
	font-weight: 500;
}
.offer-box {
	p,
	li,
	button {
		font-size: 14px;
		font-weight: 300;
	}
}
.reservation-date p:first-child,
.special-code p:first-child {
	font-weight: 400;
}
.reservation-date p:nth-child(2),
.offer-info-code button {
	width: 100px;
}
.offer-info-code button {
	background: url(/andaz/images/copy.svg) left / contain no-repeat;
	text-indent: 20px;
}
.offer-box .provide-list {
	gap: 8px;
}
.offer-box > div > ul > li {
	align-items: center;
}
li.line::after {
	content: '';
	width: 1px;
	height: 12px;
	background-color: #aaa;
}
.offer-box .provide-list li {
	display: flex;
	gap: 6px;
}
.provide-list li::before {
	content: '';
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: black;
}
.offer-box h3,
.offer-box h4 {
	width: max-content;
	position: relative;
	gap: 4px;
}
.tooltip {
	width: 12px;
	height: 12px;
	background: url(/andaz/images/tooltip.svg);
}
.tooltip ~ p {
	position: absolute;
	left: calc(100% + 4px);
	z-index: 7;
	width: max-content;
	padding: 16px;
	border-radius: 8px;
	background-color: black;
	color: white;
	line-height: 1.6em;
	opacity: 0;
	transition: opacity 0.4s ease-out;
	pointer-events: none;
	word-break: keep-all;
}
.tooltip ~ p span {
	color: #ffe206;
	margin-right: -4px;
}
.tooltip:hover ~ p {
	opacity: 1;
}
#toast {
	position: fixed;
	width: 240px;
	height: 40px;
	bottom: 100px;
	left: 50%;
	transform: translate(-50%);
	border-radius: 12px;
	border: 1px solid white;
	background-color: #222;
	color: white;
	font: 200 14px / 40px Pretendard;
	text-align: center;
	opacity: 0;
	transition: opacity 0.4s ease-out;
}
/* 특별 주문 끝 */

/* 룸 시작 */
#contents #room {
	width: 100%;
	justify-content: center;
	background-color: #fffef9;
	color: black;
	margin-top: -50px;
}
#room-wrap {
	width: 1416px;
	padding: 50px 20px;
	box-sizing: border-box;
	gap: 28px;
}
#room-visual-wrap {
	gap: 40px;
	height: 460px;
}
#room-img {
	width: 70%;
	height: 100%;
	position: relative;
	cursor: pointer;
}
#room-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
#room-img::after {
	content: '';
	width: 36px;
	height: 36px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	background: url(/andaz/images/expand.svg) center / contain no-repeat;
}
#room-info-wrap {
	flex-basis: 400px;
	flex-shrink: 0;
	justify-content: space-between;
}
#room-info-wrap > p {
	font-size: 14px;
	line-height: 1.6em;
	font-weight: 300;
	text-align: right;
}
.room-list-wrap {
	gap: 12px;
}
.room-name-wrap {
	justify-content: space-between;
	align-items: center;
}
.room-name-wrap p:first-child {
	font-size: 18px;
	text-indent: 8px;
}
.room-name-wrap p:last-child {
	font-size: 14px;
}
.room-img-list {
	gap: 20px;
}
.room-img-list button {
	height: 114px;
	border-width: 12px 4px;
	border-style: solid;
	border-color: transparent;
	transition: box-shadow 0.2s ease-out;
}
.room-img-list button.active {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.room-img-list img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#room-ex {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}
#room-ex img {
	width: 1400px;
	height: 80%;
	object-fit: cover;
	position: relative;
}
#room-ex::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url(/andaz/images/close.svg) right 20px top 20px / 60px no-repeat;
	width: 1400px;
	height: 80%;
}

#room-type-menu {
	justify-content: space-between;
	font-size: 20px;
	line-height: 1.6em;
	position: relative;
}
#room-type-menu::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.3);
}
#room-type-menu button {
	opacity: 0.3;
	border-bottom: 3px solid transparent;
	transition: opacity 0.3s ease-out, border-color 0.3s ease-out;
}
#room-type-menu button.active {
	opacity: 1;
	border-color: black;
}
/* 룸 끝 */

/* 다이닝 시작 */
#dining {
	margin-top: -50px;
}
#dining-list {
	height: 1400px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		'dining-00 dining-01 dining-02'
		'dining-03 dining-03 dining-04'
		'dining-05 dining-05 dining-05';
}
#dining-list > li {
	background: center / cover no-repeat;
	width: 100%;
	height: 100%;
}
#dining-list > li:nth-child(1) {
	grid-area: dining-00;
	background-image: url(/andaz/images/dining-00.webp);
}
#dining-list > li:nth-child(2) {
	grid-area: dining-01;
	background-image: url(/andaz/images/dining-01.jpg);
}
#dining-list > li:nth-child(3) {
	grid-area: dining-02;
	background-image: url(/andaz/images/dining-02.webp);
}
#dining-list > li:nth-child(4) {
	grid-area: dining-03;
	background-image: url(/andaz/images/dining-03.webp);
}
#dining-list > li:nth-child(5) {
	grid-area: dining-04;
	background-image: url(/andaz/images/dining-04.webp);
}
#dining-list > li:nth-child(6) {
	grid-area: dining-05;
	background-image: url(/andaz/images/dining-05.webp);
}
.dining-info-wrap {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
	gap: 40px;
	font: 200 14px / 1.6em Pretendard;
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
.dining-info-wrap h3 {
	font: 500 20px / 1.6em Pretendard;
	text-align: center;
}
.dining-info-wrap a {
	color: white;
}
.list-name {
	font-weight: 300;
}
.dining-time {
	gap: 20px;
}
.dining-time > li {
	gap: 20px;
}
.dining-link {
	gap: 40px;
}
.dining-time-list {
	gap: 60px;
	align-items: center;
}
.dining-time-list > li {
	gap: 20px;
	align-items: center;
}
.dining-list-title {
	font-size: 16px;
	font-weight: 400;
	align-items: center;
}
.last-order {
	gap: 4px;
}
.last-order::after {
	content: '(Last Order : PM 11:30)';
	font-size: 14px;
	font-weight: 200;
}
/* 다이닝 끝 */

/* 서머 하우스 시작 */
#summer-img-list {
	height: 480px;
}
#summer-img-list li {
	width: 30%;
	position: relative;
	background: center / cover no-repeat;
	transition: width 0.5s ease-out;
}
#summer-img-list li:nth-child(1),
#house-info.house-0 {
	background-image: url(/andaz/images/summer-house-00.webp);
}
#summer-img-list li:nth-child(2),
#house-info.house-1 {
	background-image: url(/andaz/images/summer-house-01.webp);
}
#summer-img-list li:nth-child(3),
#house-info.house-2 {
	background-image: url(/andaz/images/summer-house-02.webp);
}
#summer-img-list button {
	position: absolute;
	z-index: 7;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: white;
	color: black;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	font: 500 16px Pretendard;
	text-align: center;
	transition: background-color 0.5s ease-out, color 0.5s ease-out,
		height 0.5s ease-out;
}
#summer-img-list li.active {
	width: 70%;
}
#summer-img-list li.active button {
	height: 52px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 20px;
}
#summer-img-list li::after {
	content: '';
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	width: 100%;
	height: 100%;
	transition: background-color 0.4s ease-out;
}
#summer-img-list li.active::after {
	background-color: transparent;
}
#house-info {
	width: 100%;
	gap: 20px;
	padding: 20px;
	box-sizing: border-box;
	align-items: center;
	position: relative;
	background: center / cover no-repeat;
}
#house-info::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	backdrop-filter: blur(3px);
}
#house-info-wrap {
	position: relative;
	z-index: 7;
	width: 100%;
	height: 100px;
	justify-content: space-between;
	align-items: center;
	font: 200 16px / 1.6em Pretendard;
	word-break: keep-all;
}
#house-info-wrap p:last-child {
	text-align: right;
}
/* 서머 하우스 끝 */

/* 웨딩, 미팅 시작 */
.contents-wrap {
	position: relative;
	overflow: hidden;
	gap: 20px;
}
.contents-list {
	position: relative;
	height: 520px;
	gap: 1.5%;
}
.contents-list li {
	width: 20%;
	background: center / cover no-repeat;
	flex-shrink: 0;
	filter: brightness(0.5);
}
.contents-list li:nth-child(1) {
	width: 80%;
	filter: none;
}
.contents-list img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.contents-wrap .next {
	position: absolute;
	top: 260px;
	left: 78%;
	transform: translateY(-50%);
	width: 80px;
	height: 80px;
	background: url(/andaz/images/next.svg) center / contain no-repeat;
}
.contents-text-wrap {
	width: 80%;
	gap: 16px;
}
.contents-info-wrap {
	justify-content: space-between;
}
.contents-title-wrap {
	gap: 40px;
}
.contents-title-wrap > p:first-child {
	font-size: 20px;
	font-weight: 400;
}
.contents-info {
	align-items: center;
	gap: 20px;
	font-size: 14px;
	font-weight: 200;
}
.contents-info-wrap ~ p {
	font: 200 16px / 1.6em Pretendard;
	word-break: keep-all;
	min-height: 75px;
}
.contents-link {
	gap: 28px;
}
/* 웨딩, 미팅 끝 */

/* 배너 시작 */
#banner {
	height: 180px;
}
#banner-wrap {
	height: 100%;
	position: relative;
	align-items: center;
	gap: 100px;
	padding: 0 100px;
	box-sizing: border-box;
	color: white;
}
#banner-wrap::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
#banner-img {
	width: 400px;
	height: 80%;
	background-color: skyblue;
	border-radius: 32px;
}
#banner-img,
#banner-text {
	position: relative;
	z-index: 1;
}
#banner-wrap,
#banner-img {
	background: url(/andaz/images/banner.jpg) center / cover;
}
#banner-text {
	width: 100%;
	gap: 28px;
}
#banner-text > p {
	font-size: 20px;
}
#banner-text div {
	gap: 40px;
	justify-content: space-between;
}
#banner-text div p:first-child {
	font: 200 16px / 1.4em Pretendard;
	word-break: keep-all;
}
/* 배너 끝 */
/* 콘텐츠 끝 */

/* 푸터 시작 */

/* 푸터 끝 */

/* 미디어 쿼리 */
@media screen and (max-width: 1416px) {
	#contents > section {
		width: 92%;
	}
	#visual {
		height: calc(100vh - 120px);
		margin-top: 120px;
	}
	#contents #intro {
		height: 400px;
	}
	#room-search {
		height: 120px;
		padding: 8px 0;
	}
	#search-hide-show {
		top: -48px;
	}
	.offer-box {
		padding: 40px;
	}
	.offer-box h3 {
		font-size: 22px;
	}
	.tooltip ~ p {
		top: 100%;
		left: calc(100% - 12px);
		width: 320px;
	}
	.tooltip ~ p br {
		display: none;
	}
	#room-ex img {
		width: 90%;
	}
	#room-ex::after {
		width: 90%;
	}
	#dining-list {
		height: 1000px;
		grid-template-rows: 1fr 1fr 1.2fr;
	}
}
@media screen and (max-width: 1200px) {
	#offer-list {
		flex-direction: column;
		gap: 40px;
	}
	#offer-list > li {
		width: 100%;
		display: flex;
	}
	.offer-img {
		width: 100%;
		height: 460px;
	}
	.offer-box {
		flex-basis: 480px;
		flex-shrink: 0;
		margin-top: 40px;
		box-shadow: none;
	}
	#offer-list .offer-box {
		margin-left: -40px;
	}
	#sweet-package .offer-img {
		left: 0;
	}
	.offer-img::after {
		top: 0;
		left: auto;
		right: 0;
	}
	.offer-title-wrap .tooltip ~ p {
		left: auto;
		right: 0;
		top: auto;
		bottom: calc(100% + 4px);
	}
	#room-type-menu {
		font-size: 18px;
	}
	.dining-time-list > li:last-child {
		display: none;
	}
	#summer-img-list li {
		width: 24%;
	}
	#house-info-wrap {
		font-size: 15px;
		gap: 40px;
	}
	#banner-wrap {
		gap: 60px;
	}
	#banner-text div {
		flex-direction: column;
		gap: 16px;
	}
}
@media screen and (max-width: 1140px) {
	#visual {
		height: calc(100vh - 80px);
		margin-top: 80px;
	}
}
@media screen and (max-width: 980px) {
	#contents #intro {
		height: 360px;
	}
	#intro-subtitle {
		font-size: 20px;
	}
	#room-type-menu {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-auto-flow: column;
		row-gap: 12px;
	}
	#room-type-menu::before {
		content: '';
		position: absolute;
		top: 30px;
		width: 100%;
		height: 1px;
		background-color: rgba(0, 0, 0, 0.3);
	}
	.contents-text-wrap {
		width: 100%;
	}
	#dining-list {
		height: 800px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			'dining-00 dining-01'
			'dining-02 dining-03'
			'dining-04 dining-05';
	}
	.dining-time,
	.dining-time-list {
		display: none;
	}
	.dining-info-wrap {
		gap: 28px;
	}
	#summer-img-list li.active button {
		font-size: 18px;
	}
	#house-info-wrap {
		font-size: 14px;
	}
	#banner-wrap {
		padding: 0 40px;
		gap: 40px;
	}
}
@media screen and (max-width: 860px) {
	#intro-subtitle {
		font-size: 18px;
	}
	#summer-img-list button {
		height: 36px;
		font-size: 14px;
	}
	#summer-img-list li.active button {
		height: 44px;
		font-size: 16px;
	}
	#banner-wrap {
		padding: 0 28px;
	}
	#banner-text div p:first-child {
		font-size: 14px;
	}
}
@media screen and (max-width: 810px) {
	#room-search {
		height: 160px;
	}
	#room-search-wrap {
		padding: 0 100px;
	}
}
@media screen and (max-width: 790px) {
	#room-search-wrap {
		padding: 0 80px;
	}
}
@media screen and (max-width: 768px) {
	#room-search {
		display: none;
	}
}
